body {
    background-color: #f4f5f9;
    font-family: Kanit;
}

.title {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 350px;
    height: auto;
}

.ex1 {
    display: block;
    margin: 7% auto;
    width: 100%;
    height: auto;
}

.pic1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.ex2 {
    display: block;
    margin: 7% auto;
    width: 100%;
    height: auto;
}
