body {
    background-color: #8CD790;
}

div {
    position: absolute;
    display: inline;
    margin-top: 10%;
}


.road {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;

}

.pos1 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 80px;
    left: 60px;
}

.pos2 {
    width: 38%;
    height: auto;
    position: absolute;
    top: 160px;
    left: 180px;
}

.pos3 {
    width: 38%;
    height: auto;
    position: absolute;
    top: 335px;
    left: 60px;
}

.pos4 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 600px;
    left: 20px;
}
