body {
    background-color: #f4f5f9;
}

.title {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 350px;
    height: auto;
}

.ex1 {
    display: block;
    margin: 3% auto;
    width: 370px;
    height: auto;
}

.ex2 {
    display: block;
    margin: 5% auto;
    width: 370px;
    height: auto;
}

.pic1 {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}