body {
    background-color: #ebebeb;
    
}


.ex {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.a {
    position: fixed;
    width: 35%;
    height: auto;
    top: 40%;
    left: 15%;
}

.d {
    position: fixed;
    width: 35%;
    height: auto;
    top: 40%;
    left: 50%;
}

.h {
    position: fixed;
    width: 35%;
    height: auto;
    top: 65%;
    left: 15%;
}

.v {
    position: fixed;
    width: 35%;
    height: auto;
    top: 65%;
    left: 50%;
}