body {
    background-color: #ebebeb;
    
}


.ex {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.a {
    position: relative;
    width: 35%;
    height: auto;
    top: 5%;
    left: 12%;
}

.d {
    position: relative;
    width: 35%;
    height: auto;
    top: 5%;
    left: 18%;
}

.h {
    position: relative;
    width: 35%;
    height: auto;
    top: 20%;
    left: 12%;
}

.v {
    position: relative;
    width: 35%;
    height: auto;
    top: 20%;
    left: 18%;
}