body {
    background-color: #8EC0E4;
}

.boy {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.warn {
    position: absolute;
    width: 23%;
    height: auto;
    top: 36%;
    left: 10%;
}

.doc {
    position: absolute;
    width: 25%;
    height: auto;
    top: 36%;
    left: 39%;
}

.test {
    position: absolute;
    width: 18%;
    height: auto;
    top: 38%;
    left: 70%;
}


