body {
    background-color: #EFFFE9;
}

.title {
    display: block;
    margin: 8% auto;
    width: 350px;
    height: auto;
}

.ex {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.pic {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 20%;
}