body {
    background-color: #f6ea8c;
    font-family: Kanit;
}

h2 {
    text-align: center;
}

.ex1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.ex2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.next {
    margin-right: 10px;
    width: 30%;
    height: auto;
    float: right;
}