body {
    background-color: #E0E3DA;
}

.title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

img {
    width: 340px;
    height: auto;
    display: block;
    margin: 5% auto;
}