html,
body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(255, 255, 151);
}

.quiz {
    margin-top: 40%;
}

.quiz input.step1:checked~.container .q2,
.quiz input.step2:checked~.container .q3,
.quiz input.step3:checked~.container .q4,
.quiz input.step4:checked~.container .q5,
.quiz input.step5:checked~.container .q6,
.quiz input.step6:checked~.container .q7,
.quiz input.step7:checked~.container .q8 {
    position: relative;
    left: 0;
}

.quiz input.step8:checked~.container .status{
    display: block;
}

.quiz input.step8:checked~.container .score{
    display: block;
}

.quiz input.step8:checked~.container .congrats{
    display: block;
    position: fixed;
    left: 8px;
    bottom: 0;
}

.quiz input.step8:checked~.container .q {
    position: relative !important;
    left: 0 !important;
    opacity: 1 !important;
}

.quiz input.step8:checked~.container .q label {
    background-color: #e4e4e4;
}

.quiz input.step1:checked~.container .q1,
.quiz input.step2:checked~.container .q2,
.quiz input.step3:checked~.container .q3,
.quiz input.step4:checked~.container .q4,
.quiz input.step5:checked~.container .q5,
.quiz input.step6:checked~.container .q6,
.quiz input.step7:checked~.container .q7,
.quiz input.step8:checked~.container .q8 {
    position: absolute;
    opacity: 0;
}

.quiz .score {
    margin-top: 40px;
}

.quiz .score h3:after {
    content: counter(score);
}

.quiz .container {
    margin: 0 auto;
    text-align: center;
    counter-reset: score;
}

.quiz .status{
    display: none;
}

.quiz .score{
    display: none;
}

.quiz .congrats {
    display: none;
    left: 0;
}

.quiz label {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffab10;
    color: #fff;
    margin: 0 25px;
    text-align: center;
    display: inline-block;
    transition: opacity .5s;
}

.quiz label:hover {
    opacity: .7;
}

.quiz .q {
    margin-bottom: 40px;
    position: absolute;
    left: -2000px;
    transition: all 0.8s cubic-bezier(0.44, 0.25, 0.65, 0.38);
    width: 100%;
}

.quiz .q1 {
    position: relative;
    left: 0;
}

.quiz input {
    display: none;
}

.quiz .status {
    margin-bottom: 20px;
}

.heart-set, .sad-set {
    position: absolute;
    left: -100px;
    top: 50%;
    transition: left 1s;
}

.quiz input[id=no1].step1:checked~.container .q1 label.correct,
.quiz input[id=yes2].step2:checked~.container .q2 label.correct,
.quiz input[id=yes3].step3:checked~.container .q3 label.correct,
.quiz input[id=yes4].step4:checked~.container .q4 label.correct,
.quiz input[id=no5].step5:checked~.container .q5 label.correct,
.quiz input[id=yes6].step6:checked~.container .q6 label.correct,
.quiz input[id=yes7].step7:checked~.container .q7 label.correct,
.quiz input[id=yes8].step8:checked~.container .q8 label.correct {
    background-color: #379600;
    counter-increment: score;
    color: #fff;
}

.quiz input[id=yes1].step1:checked~.container .q1 label.wrong,
.quiz input[id=no2].step2:checked~.container .q2 label.wrong,
.quiz input[id=no3].step3:checked~.container .q3 label.wrong,
.quiz input[id=no4].step4:checked~.container .q4 label.wrong,
.quiz input[id=yes5].step5:checked~.container .q5 label.wrong,
.quiz input[id=no6].step6:checked~.container .q6 label.wrong,
.quiz input[id=no7].step7:checked~.container .q7 label.wrong,
.quiz input[id=no8].step8:checked~.container .q8 label.wrong {
    background-color: #cc2d2b;
    color: #fff;
}

.set-h1 {
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

.set-h2, #set-h2 {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: normal;
}

#set-h2 {
    font-size: 40px;
    color: #eb6e30;
    font-weight: 700;
    text-shadow: 3px 1px 0px white, 5px 2px 0px black;
}

#set-h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    font-weight: normal;
}

.head1 {
    width: 80px;
}

.true {
    vertical-align: middle;
    margin-top: 17px;
    width: 15px;
    height: 15px;
}

.false {
    vertical-align: middle;
    margin-top: 17px;
    width: 15px;
    height: 15px;
}

.score {
    background-color: #ffe975;
    padding: 5px 0 5px 0;
}