body {
    background-color: #FBFFB9;
}

.title {
    display: block;
    margin: 8% auto;
}

.ex1 {
    display: block;
    margin: 0 auto;
    top: 4%;
    width: 372px;
    height: auto;
}

.ex2 {
    display: block;
    margin: 0 auto;
    top: 60%;
}

div {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}